<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MNIST inference WebUI</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>MNIST inference WebUI</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="flashes">
        {% for message in messages %}
          <div>{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <div class="canvas-container">
    <canvas id="canvas" width="300" height="300"></canvas>
  </div>

  <div class="canvas-actions">
    <button onclick="clearCanvas()">Clear</button>
    <button onclick="submitCanvas()">Submit</button>
  </div>

  <h2 id="prediction"></h2>
</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
